body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

app-canvas {
  canvas {
    width: 100vw !important;
    height: 100vh !important;
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffffff;
}
