<mat-card @slideUp *ngIf="!(isMoving$ | async)">
  <div class="loader-wrap" *ngIf="isLoading$ | async">
    <mat-spinner class="loader"> </mat-spinner>
  </div>
  <mat-card-title>
    <h1>SpaceX Missions</h1>
  </mat-card-title>

  <mat-card-content class="card-content">
    <ul class="list">
      <li class="child" *ngFor="let mission of missions$ | async">
        <a mat-button [routerLink]="mission.id">
          {{ mission.name }}
        </a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
