:host {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.list {
  padding: 0;
  list-style: none;
}

.child {
  padding: 15px;
  margin: 10px 0;
}
