<!-- <span
  style="position: absolute; top: 0; left: 0; color: white; z-index: 99999"
  >{{ position$ | async }}</span
> -->
<th-canvas>
  <th-scene [background]="background">
    <th-pointLight
      *ngIf="position$ | async as position"
      [position]="position"
    ></th-pointLight>

    <!-- stars -->
    <app-star *ngFor="let position of stars" [position]="position"></app-star>
    <!-- stars END -->

    <!-- earth -->
    <app-planet
      *ngIf="rotate$ | async as rotation"
      [rotation]="rotation"
      [url]="earth.url"
      [position]="earth.position"
      [bumpMapUrl]="earth.bumpMapUrl"
      [bumpScale]="earth.bumpScale"
      [cloundsUrl]="earth.cloudsUrl"
    ></app-planet>
    <!-- END earth -->

    <!-- mars -->
    <app-planet
      *ngIf="rotate$ | async as rotation"
      [rotation]="rotation"
      [url]="mars.url"
      [position]="mars.position"
      [bumpMapUrl]="mars.bumpMapUrl"
      [bumpScale]="mars.bumpScale"
    ></app-planet>
    <!-- END mars -->

    <ng-container *ngIf="screenRatio$ | async as screenRatio">
      <th-perspectiveCamera
        *ngIf="position$ | async as position"
        [args]="[75, screenRatio, 0.1, 1000]"
        [position]="position"
        [lookAt]="[0, 0, 0]"
      >
        <!-- <th-orbitControls></th-orbitControls> -->
      </th-perspectiveCamera>
    </ng-container>
    <!-- <th-gridHelper [args]="[10, 10]"></th-gridHelper> -->
  </th-scene>
</th-canvas>
